  <!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="description" content="ToDoList无须注册即可使用，数据存储在用户浏览器的html5本地数据库里，是最简单最安全的待办事项列表应用！" />
    <title>ToDoList—最简单的待办事项列表</title>
    <link rel="stylesheet" href="./styles/index.css" />
    <script src="./script/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <header>
        <section>
          <label>ToDoList</label>
          <input
            placeholder="添加ToDo"
            v-model="awaitToAdd"
            @keydown.enter="addToNeverTodoList"
          />
        </section>
      </header>
      <section>
        <h2 v-if="neverTodoTingsLength !== 0">
          正在进行
          <span>{{ neverTodoTingsLength }}</span>
        </h2>
        <ol>
          <li v-for="(neverTodoThing, index) in neverTodoList" :data-index="index">
            <input type="checkbox" @change="addToDoneTodoList(neverTodoThing, index, $event)" name="never" :key="index"/>
            <p  @click.self="displayNeverInput(index, $event)">{{neverTodoThing}}
              <input type="text" class="never-input" v-model="neverThingModify" @keydown.enter="modifyNeverThing(index, $event)">
            </p>
            <a
              href="javascript: void(0)"
              @click="removerNeverTodoThing(index)"
              >-</a
            >
          </li>
        </ol>
        <h2 v-if="doneTodoTingsLength !== 0">
          已经完成
          <span >{{ doneTodoTingsLength }}</span>
        </h2>
        <ul>
          <li v-for="(doneTodoThing, index) in doneTodoList" :data-index="index">
            <input type='checkbox' @change="fromDoneToNeverList(doneTodoThing, index, $event)" checked :key="index"/>
            <p @click.self="displayDoneInput(index, $event)">{{doneTodoThing}}
              <input type="text" class="done-input" v-model="doneThingModify" @keydown.enter="modifyDoneThing(index, $event)">
            </p>
            <a href='javascript:void(0)' @click="removeDoneTodoThing(index)">-</a>
          </li>
        </ul>
      </section>
      <footer>
        Copyright &copy; JohnWang Vue <a href="javascript:void(0)" @click="clearData" v-if='doneTodoTingsLength!==0||neverTodoTingsLength!== 0'>clear</a>
      </footer>
    </div>
    <script src="./script/index.js" type="module"></script>
  </body>
</html>

