@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1645513181899') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichu:before {
  content: "\e666";
}

.icon-hide:before {
  content: "\e656";
}

.icon-show:before {
  content: "\e657";
}

.icon-mima:before {
  content: "\e611";
}

.icon-zhanghao:before {
  content: "\e614";
}

