* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7f8fa6;
}

.banner {
    position: relative;
    width: 900px;
    height: 300px;
    /* padding: 20px; */
    background-color: #fff;
    border-radius: 9px;
    /* overflow: hidden; */
}

.images {
    width: 2700px;
    height: 300px;
    transition: .4s;
}

.images ul {
    display: flex;
    /* justify-content: space-around; */
}

.images ul li {
    width: 900px;
    height: 300px;
    flex-shrink: 0;
}

.images ul li:nth-child(1) {
    background-color: #f8a5c2;
}

.images ul li:nth-child(2) {
    background-color: #ffb8b8;
}

.images ul li:nth-child(3) {
    background-color: #ff4d4d;
}

.ctrl-img {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 230px;
    bottom: 0px;
    right: 20px;
}

.ctrl-img .ctrl {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: #7f8fa6 4px solid;
}

.ctrl-img .ctrl:nth-child(1) {
    background-color: #f8a5c2;
}

.ctrl-img .ctrl:nth-child(2) {
    background-color: #ffb8b8;
}

.ctrl-img .ctrl:nth-child(3) {
    background-color: #ff4d4d;
}

.left-button,
.right-button {
    position: absolute;
    line-height: 300px;
    text-align: center;
    font-size: 37px;
    font-weight: 700;
    bottom: 0px;
    height: 300px;
    width: 70px;
    background-color: rgba(52, 73, 94, .4);
}

.left-button {
    left: 0px;
}

.right-button {
    right: 0px;
}