* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f6fa;
}


/* 上方进度条以及步骤 */

.progress-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 50px;
}

.progress-container .circle {
    line-height: 30px;
    text-align: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid 3px #7f8fa6;
    font-size: 20px;
    font-weight: 700;
    background-color: #fff;
}

.progress-container .progress {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 0%;
    height: 4px;
    background-color: #273c75;
}

.progress-container .out {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 4px;
    background-color: #aaa69d;
}

.progress-container .progress::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 4px;
    background-color: #00a8ff;
}

.ctrl-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 24px;
}

button {
    height: 2em;
    width: 5em;
    color: #fff;
    border-radius: 7px;
    background-color: #0097e6;
}

[disabled="disabled"] {
    background-color: #7f8fa6;
}